:root {
  --primary-color: #f07320;
  --primary-color-rgb: 160, 32, 240;
  --secondary-color: #f03f20;
  --secondary-color-rgb: 160, 32, 240;
  --tertiary-color: #e68b15;
  --tertiary-color-rgb: rgb(230, 105, 21);
}